node_modules
lambda/leadProcessingTaskConnect/node_modules
lambda/leadProcessingTaskExpireEmailSQS/node_modules
lambda/leadProcessingTaskGetEmailSQS/node_modules
lambda/leadProcessingTaskImportEmail/node_modules
.idea